@font-face {
  font-family: 'OpenSans';
  src: url('../font/LightItalic/OpenSans-LightItalic.eot');
  src: url('../font/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('../font/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('../font/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}