@font-face {
  font-family: 'OpenSans';
  src: url('../font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('../font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
       url('../font/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}