@font-face {
  font-family: 'OpenSans';
  src: url('../font/Italic/OpenSans-Italic.eot');
  src: url('../font/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../font/Italic/OpenSans-Italic.woff') format('woff'),
       url('../font/Italic/OpenSans-Italic.ttf') format('truetype'),
       url('../font/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}