@font-face {
  font-family: 'OpenSans';
  src: url('../font/Regular/OpenSans-Regular.eot');
  src: url('../font/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Regular/OpenSans-Regular.woff') format('woff'),
       url('../font/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('../font/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}