@font-face {
  font-family: 'OpenSans';
  src: url('../font/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../font/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../font/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../font/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}