/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src:  url('#{$OpenSansPath}/Regular/OpenSans-Regular.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/Regular/OpenSans-Regular.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
        url('#{$OpenSansPath}/Regular/OpenSans-Regular.woff?v=#{$OpenSansVersion}') format('woff'),
        url('#{$OpenSansPath}/Regular/OpenSans-Regular.ttf?v=#{$OpenSansVersion}') format('truetype'),
        url('#{$OpenSansPath}/Regular/OpenSans-Regular.svg?v=#{$OpenSansVersion}#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
