/* BEGIN Semibold Italic */
@font-face {
	font-family: "Open Sans";
	@include fontdef($FontPath, $FontName, $FontVersion, "SemiboldItalic");
	font-weight: 600;
	font-style: italic;
}
/* END Semibold Italic */
